.appBar_root{
  flex-grow: 1;
}

.spacer {
    flex: 1 1 auto;
  }

.navLinks ul  {
  display: flex;
  flex-direction: row;
  color: white;

}
.navLinks li {
  list-style: none;
}
.navLinks  a {
  list-style: none;
  color: white !important;
  padding: 12px;
  text-decoration: none;

}


@media (max-width: 768px) {
  .navLinks li {
    display: none;
  }
}

@media (min-width: 768px) {
  .MuiIconButton-label{
    display: none;
  }
}